.table-css {
    margin: auto;
    /* margin-top: 5px; */
    min-width: 100%;
    table-layout: fixed;
}

.table-css tr>th {
    font-weight: normal;
    text-align: left;
    background-color: #ccc;
    color: #000;
}

.table-css tr>td {
    background-color: #F2F2F2;
}

.table-css th, .table-css td {
    width: auto;
    padding: 10px;
    border: 1px solid #ddd;
}

.table-css th {
    white-space: nowrap !important;
}

.table-css td {
    word-break: break-all;
}

.table-css td>input {
    padding: 2px;
    height: auto;
    width: 100px;
}

.table-css td>select {
    padding: 2px;
    height: auto;
    width: 100px;
}