<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sitech.billing.datainput.dao.DataInputMapper">

    <insert id="oracleBatchInsert">
        INSERT ALL
        <foreach collection="list" item="item" index="index" separator="">
            ${sql}
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

    <insert id="mysqlBatchInsert">
        ${insertSql}
        <foreach collection="list" item="item" index="index" separator=",">
            ${valueSql}
        </foreach>
    </insert>

</mapper>