.login-bg {
    background: url(../../images/login-bg.png) center/cover fixed no-repeat;
}

.login-div {
    width: 250px;
    height: 270px;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
    border: 0.5px solid rgba(41, 211, 224, 0.5);
    background-color: rgba(41, 211, 224, 0.2);
    box-shadow: 0 0 2px rgba(41, 211, 224, 0.2);
}

.login-div-title {
    height: 40px;
    text-align: center;
    font-size: 22px;
    color: white;
}

.login-div-from input, div {
    width: 100%;
    height: 25px;
    color: white;
}

.login-div-from input[name=username] {
    margin-bottom: 10px;
    background-color: transparent;
    padding-left: 5px;
    border: 1px solid #00BFFF;
}

.login-div-from input[name=password] {
    background-color: transparent;
    padding-left: 5px;
    border: 1px solid #00BFFF;
}

.login-div-from input[type=submit] {
    background-color: #00BFFF;
    border: none;
    color: white;
    height: 30px;
    margin-top: 10px;
}

.login-err-msg {
    color: red;
    font-size: 12px;
}
