.rbac-container {
    width: 100%;
    padding: 10px 10px;
}

.rbac-title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #79C48C;
    font-size: 20px;
    margin-bottom: 15px;
}

.rbac-user-update {
    width: 100%;
    height: 100%;
    padding: 15px;
    font-size: 14px;
}

.rbac-user-update div {
    margin: 10px auto;
}

.rbac-user-update input {

    height: 30px;
}

.rbac-user-update button {
    margin-left: 210px;
}
.rbac-user-update select {
    height: 30px;
    width: 180px;
}

.rbac-page {
    width: 100%;
    text-align: center;
}

/*自定义checkbox样式*/

.checkbox-style {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 5px;
    float: left;
}

.checkbox-style input[type=checkbox] {
    zoom: 150%;
}

.checkbox-text {
    line-height: 40px;
    height: 40px !important;
    color: #FF5722;
}

.assign-role-box {
    padding: 10px;
    width: 290px;
    height: 350px;
}

.assign-role-box-inner {

    height: 300px;
    padding: 2px;
    border: 1px solid #ccc;
    overflow: auto;
}

.assign-role-box button {
    margin-top: 10px;
    margin-left: 220px;
}