#tbody td > i {
    color: #009688;
    font-size: 30px;
    cursor: pointer
}

.upload-dialog-container {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.btn-container {
    width: 100%;
    height: 40px;
    margin-top: 5px;
    text-align: left;
}
.btn-container button {
    margin: 5px;
}
.btn-container-div{
    float: left;
    height: 40px;
    padding: 10px 10px 0 0;
}