.login-bg {
    background: url(../../../images/login-bg.png) center/cover fixed no-repeat;
}

.login-div {
    position: fixed;
    width: 240px;
    height: 250px;
    right: 200px;
    bottom: 100px;
    border-radius: 10px;
    border: 0.5px solid rgba(41, 211, 224, 0.5);
    background-color: rgba(41, 211, 224, 0.2);
    box-shadow: 0 0 2px rgba(41, 211, 224, 0.2);
    padding: 10px;
}

.login-div-title {
    width: 90%;
    height: 40px;
    text-align: center;
    font-size: 22px;
    color: #00BFFF;
}

.login-div-from input, div {
    width: 90%;
    margin-left: 5%;
    height: 25px;
    color: black;
}

.login-div-from input[name=username] {
    margin-bottom: 10px;
}

.login-div-from input[type=submit] {
    background-color: #00BFFF;
    border: none;
    color: white;
    height: 30px;
    margin-top: 10px;
}

.login-err-msg {
    color: red;
}
